<nav class="nav">
  <div class="nav__content">
    <a href="/" class="nav__home"><img src="../../assets/logo.png" alt="" class="nav__logo"></a>
    <ul class="nav__links">
      <li class="nav__link"><a href="">News</a></li>
      <li class="nav__link"><a href="">Fixtures</a></li>
      <li class="nav__link"><a href="">About</a></li>
    </ul>
  </div>
</nav>
