@import "~src/sass/abstract/mixins";
@import "~src/sass/abstract/variables";
.nav {
  background-color: $color-primary;
  color: #fff;
  //position: absolute;
  width: 100vw;
  //top: 0;
  //left: 0;
  height: 16rem;
  //@include clearfix;

  &__content {
    position: relative;
    height: 100%;
    padding-top: 2rem;
  }

  &__home {
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 8rem;
  }

  &__logo {
    height: 100%;
  }

  &__links {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  &__link {
    display: inline-block;
    font-size: 2.2rem;
    padding: 0 .7rem .1rem .7rem;
    border-bottom: .5rem solid transparent;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      border-bottom: .5rem solid #fff;
      animation-name: jello;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }

    a,
    a:link,
    a:visited {
      color: inherit;
      text-decoration: none;
    }

    &.active {
      border-bottom: .5rem solid #fff;
    }
  }
}
