<div class="news-card animated fadeInUpBig">
  <img src="{{dataService.getPhotoUrl(news.header.photoUrl)}}" alt="" class="news-card__image">
  <div class="news-card__content">
    <p class="news-card__heading">{{news.title + ' ' + news.id}}</p>
    <p class="news-card__info">{{news.info | slice:0:340 }}</p>
    <p class="news-card__timestamp">{{news.createdAt | timeago:live}}</p>
  </div>
</div>
