.news-card {
  width: 90rem;
  height: 20rem;
  border-radius: 2rem;
  margin: 2rem auto;
  background-color: #FAFAFA;
  padding: 1.5rem;
  border: 1px solid #607D8B;
  cursor: pointer;

  position: relative;

  &__image {
    height: 17rem;
    width: 17rem;
    object-fit: cover;
    border-radius: 2rem;

    float: left;
  }

  &__content {
    margin-left: 2rem;
    margin-right: 1rem;
    height: 100%;
    width: 64.5rem;
    float: right;
  }

  &__heading {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: justify;
    margin-bottom: 1rem;
    color: #455A64;
  }

  &__info {
    font-size: 1.8rem;
    text-align: justify;
  }

  &__timestamp {
    color: #607D8B;
    text-align: right;
    font-size: 1.4rem;
  }
}
