//colors
$color-primary: #263238;
$color-primary-dark: darken(#3f51b5, 4);
$color-accent: #000;

$color-white: #f7f7f7;
$color-grey: #eee;

$color-black: #000;


//Grid
$grid-width: 160rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;
