<ng-container *ngIf="infiniteNews | async as newsItems">
  <cdk-virtual-scroll-viewport itemSize="200" (scrolledIndexChange)="nextBatch($event, null)">

    <app-news-card *cdkVirtualFor="let n of newsItems; let i = index; trackBy: trackByIdx" [news]="n"></app-news-card>

  </cdk-virtual-scroll-viewport>
</ng-container>
