@import "~src/sass/abstract/variables";
cdk-virtual-scroll-viewport {
  width: 99vw;
  height: calc(100vh - 16rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px rgba($color-black, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($color-primary, 15%);
    border-radius: 1rem;
  }
}
